.question-field {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.question-field__question-text {
   font-size: 20px;
   font-weight: bold;
}

.question-field__answers {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

/* Answer Item */
.answer {
   display: flex;
   align-items: center;
   gap: 10px;
}

.answer__input {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 50%;
   width: 16px;
   height: 16px;
   outline: none;
   border: 1px solid #999;
   transition: 0.2s all linear;
   background-color: white;
   cursor: pointer;
}
.answer__input:hover {
   border: 1px solid black;
}
/* Radio button - Checked */
.answer__input:checked {
   border: 5px solid #feca1d;
}
.answer__input:checked:hover {
   border: 5px solid #edbb1a;
}
